.btn-primary {
  --bs-btn-color: black;
  --bs-btn-bg: rgb(227, 179, 82);
  --bs-btn-border-color: rgb(42, 32, 1);
  --bs-btn-hover-color: rgb(42, 32, 1);
  --bs-btn-hover-bg: #CACACA;
  --bs-btn-hover-border-color: #403703;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8f9bad;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
}

.btn-outline-secondary {
  --bs-btn-color: black;
  --bs-btn-bg: rgb(227, 179, 82);
  --bs-btn-border-color: rgb(42, 32, 1);
  --bs-btn-hover-color: rgb(42, 32, 1);
  --bs-btn-hover-bg: #CACACA;
  --bs-btn-hover-border-color: #403703;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8f9bad;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
}

.navbar-dark,.navbar[data-bs-theme=dark] {
  --bs-navbar-color: #FCFAF1;
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #E6B31E;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

.btn {
  --bs-btn-font-size: 1rem;
  --bs-btn-line-height: 1.5;
  font-weight: bold;
}

.dropdown-item {
  font-weight: 500;
}

.text-body-emphasis {
  --bs-text-opacity: 1;
  color: #E6B31E !important;
}

.head-of-table {
  color: rgb(227, 179, 82);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10.0px;
}

.lead {
  color: #FCFAF1;
  font-weight: 300;
}

.btn-group-lg>.btn,.btn-lg {
  --bs-btn-font-size: 1.25rem;
}

.h1,h1 {
  margin-bottom: 1.50rem;
}

form {
  position: relative;
  width: 300px;
  height: 65px;
}

.h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 2;
  color: #CACACA;
}

.form-check-label {
  color: #CACACA;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-floating {
  margin-bottom: 1rem;
}

body {
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d-block {
  display: block !important;
  border-radius: 80%;
  width: 65px;
  height: 65px;
  margin-bottom: 1.5rem!important;
  margin-top: 1.5rem!important;
}

.mb-3 {
  margin-bottom: 1rem !important;
  color: #E6B31E;
}

.form-label {
  margin-bottom: 0.5rem;
  color: #CACACA;
}

.my-3 {
  margin-top: 0rem !important;
}

#my-pie-chart {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: conic-gradient(brown 0.00%, black 0.00% 0.55%, blue 0.55% 6.08%, green 6.08% 13.68%, yellow 13.68% 23.27%, orange 23.27% 40.47%, red 40.47%);
  margin-bottom: 2.0rem!important;
  margin-top: 2.5rem!important;
}

.my-5 {
  margin-top: 10rem!important;
  margin-bottom: 3rem!important;
}
