{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block style %}
<style>
  body {
    background-image: url("../images/gold-ring-0.jpg");
    height: 700px;
  }
</style>
{% endblock %}

{% block body %}
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="../images/coin-flip-4.gif" alt="" width="72" height="72">
  <h1 class="display-5 fw-bold text-body-emphasis">Gold Digger</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Łatwe, szybkie i efektywne zarządzanie domowym budżetem.</p>
    <p class="lead mb-4">Zacznij oszczędzać już teraz!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/login/login.html">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Logowanie</button></a>
      <a href="/signup/new.html">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Rejestracja</button></a>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}