{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block style %}
<style>
  body {
    background-image: url("../images/gold-ring-1.jpg");
    height: 850px;
  }

  .form-signin {
    max-width: 530px;
    padding: 1rem;
  }
</style>
{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto">
  <div class="px-4 py-5 my-5 text-center">
    <p class="lead mb-4">Zostałeś pomyślnie zalogowany.</h1>
      <img class="d-block mx-auto mb-4" src="../images/coin-flip-4.gif" alt="" width="72" height="72"
        border-radius="80%">
    <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Wybierz dostępną opcję. </p>
      <p class="lead mb-4">Zaczynamy!</p>
    </div>
  </div>
</main>
{%endblock %}